---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="welcome">
	<h1>Welcome</h1>
	<h2>This is h2</h2>
	<h3>This is h3</h3>
	<p>this is a paragraph blabla asldkasl asjkdhasdu duioas yhdoasydoia sdoash daushdasudoh</p>
</BaseLayout>