---
import BaseLayout from "../layouts/BaseLayout.astro"
import IconContainer from "../components/IconContainer.astro"
import { Content as BioContent} from '../components/content/bio.md'
import { Icon } from 'astro-icon/components'
import Header from "../components/Header.astro";
import { Image } from "astro:assets"
import profileImage from '../../public/profile-simple-svgrepo-com.svg'
---

<BaseLayout title="Magnus Sørensen">
	<Header />
	<div class="hero">
		<div class="bio">
			<BioContent />
		</div>
		<div class="illustration">
			<Image src={profileImage} alt="illustration of me" />
		</div>
	</div>
	<div id="contact-info">
		<IconContainer>
			<Icon name="github" />
			<Icon name="linkedin" />
			<Icon name="bluesky" />
		</IconContainer>
		<a href="mailto:Magnus@mavirgil.com">Magnus@mavirgil.com</a>
	</div>
</BaseLayout>

<style>

	.hero {
		margin-top: var(--gap-medium);
		display: flex;
		align-items: center;
	}

	img {
		width: 8em;
		height: auto;
		fill: var(--text);
	}

	[data-icon] {
		cursor: pointer;
		font-size: 1.5em;
	}

	[data-icon]:hover {
		color: var(--primary);
		animation: icon-anim 50ms 1 forwards;
	}

	#contact-info {
		margin-top: var(--gap-small);
		display: inline-flex;
		flex-direction: column;
		gap: var(--gap-tiny);
	}

	#contact-info a {
		display: inline;
	}

	@keyframes icon-anim {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(1.1);
		}
	}
</style>