---
import BaseLayout from "../layouts/BaseLayout.astro"
import IconContainer from "../components/IconContainer.astro"
import { Content as BioContent} from '../content/bio.md'
import { Icon } from 'astro-icon/components'
import Header from "../components/Header.astro";
import { Image } from "astro:assets"
import Prose from "../components/Prose.astro";
---

<BaseLayout title="Magnus Sørensen">
	<Header />
	<div class="hero">
		<Prose>
			<BioContent />
		</Prose>
		<div class="illustration">
			<Icon name="profile[placeholder]_new"/>
		</div>
	</div>
	<div id="contact-info">
		<IconContainer>
			<a href="https://github.com/MaVirgil" target="_blank">
				<Icon name="github" />
			</a>
			<a href="https://www.linkedin.com/in/magnus-virgil-s%C3%B8rensen-0167872b5/" target="_blank">
				<Icon name="linkedin" />
			</a>
			<a href="https://bsky.app/profile/mavirgil.com" target="_blank">
				<Icon name="bluesky" />
			</a>
		</IconContainer>
		<a href="mailto:Magnus@mavirgil.com">Magnus@mavirgil.com</a>
	</div>
</BaseLayout>

<style>

	.hero {
		margin-top: var(--gap-medium);
		display: flex;
		align-items: center;
	}

	.illustration [data-icon="profile[placeholder]_new"] {
		font-size: 10em;
		color: var(--text);
	}

	img {
		width: 8em;
		height: auto;
		fill: var(--text);
	}

	#contact-info {
		margin-top: var(--gap-tiny);
		display: inline-flex;
		flex-direction: column;
		gap: var(--gap-tiny);
	}

	#contact-info [data-icon] {
		cursor: pointer;
		font-size: 1.5em;
	}

	#contact-info [data-icon]:hover {
		color: var(--primary);
		animation: icon-anim 50ms 1 forwards;
	}

	#contact-info a {
		display: inline;
	}

	@keyframes icon-anim {
		0% {
			transform: scale(1);
		}
		100% {
			transform: scale(1.1);
		}
	}
</style>