---

import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header id="header">
    <a href="/" id="logo">Magnus Sørensen</a>
    <div id="header-menu">
        <a href="#">Posts</a>
        <a href="/projects">Projects</a>
        <ThemeSwitcher />
    </div>
</header>
<hr>

<style>
    #header {
        padding-top: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #logo {
        font-size: 1.5em;
        font-weight: bolder;
    }

    #logo:hover {
        color: var(--text);
    }

    a {
        font-size: large;
        text-decoration: none;
    }

    a:hover {
        color: var(--primary);
    }

    #header-menu {
        display: flex;
        align-items: center;
        gap: 2em;
    }
</style>