---

---

<header id="header">
    <nav>
        <a href="/">Home</a>
        <a href="/projects" data-astro-prefetch>Projects</a>
        <a href="/posts">Posts</a>
    </nav>
</header>

<style>
    #header {
        margin-top: var(--gap-small);
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
    }

    a {
        font-size: larger;
        text-decoration: none;
    }

    a:hover {
        color: var(--primary);
    }

    #header-menu {

    }

    nav {
        grid-column: 2;
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .right {
        justify-self: end;
    }
</style>