---

import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div id="header">
    <h2>Magnus Sørensen</h2>
    <div id="header-menu">
        <a href="#">Posts</a>
        <a href="#">Projects</a>
        <ThemeSwitcher />
    </div>
</div>
<hr>

<style>
    #header {
        padding-top: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        font-size: large;
    }

    #header-menu {
        display: flex;
        align-items: center;
        gap: 2em;
    }
</style>