---

---

<header id="header">
    <nav>
        <a href="/">Home</a>
        <a href="/projects" data-astro-prefetch>Projects</a>
        <a href="/posts">Posts</a>
    </nav>
</header>

<style>
    #header {
        padding-top: var(--gap-small);
        display: flex;
        justify-content: center;
    }

    a {
        font-size: larger;
        text-decoration: none;
    }

    a:hover {
        color: var(--primary);
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: var(--gap-small);
    }
</style>