---

import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<div id="header">
    <section class="hero">
        <h1>Magnus Sørensen</h1>
    </section>
    <div id="header-menu">
        <a href="#">Posts</a>
        <a href="#">Projects</a>
        <a href="#">Resume</a>
        <ThemeSwitcher></ThemeSwitcher>
    </div>
</div>