---

---

<div id="icons">
    <slot />
</div>

<style>
    #container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #icons {
        display: flex;
        justify-content: space-between;
    }
</style>