---
const { gap } = Astro.props;
---

<div id="icons">
    <slot />
</div>

<style define:vars={{gap}}>
    #container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #icons {
        display: flex;
        justify-content: space-between;
        gap: var(--gap);
    }
</style>