---
import Header from "../components/Header.astro";
const { title="default title" } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script is:inline>
        const theme = (() => {
            if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                console.log('return theme from localStorage');
                return localStorage.getItem('theme');
            }

            if (window.matchMedia("(prefers-color-scheme: light)").matches) {
                console.log('prefers light: true -- returning "light"');
                return 'light';
            }

            console.log('prefers light: false -- returning "dark"');
            return 'dark';
        })();

        if (theme === 'light') {
            document.documentElement.classList.add('light');
        } else {
            document.documentElement.classList.remove('light');
        }
    </script>

</head>
<body>
<main>
    <Header />
    <slot />
</main>
</body>
</html>

<style is:global>
    @font-face {
        font-family: 'Manrope';
        src: url("/manrope.woff2") format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    /* dark-mode colors */
    :root {
        --bg-dark: oklch(0.19 0.005 71);
        --bg-light: oklch(0.15 0.035 69);
        --text: oklch(0.96 0.07 69);
        --text-muted: oklch(0.76 0.07 69);
        --highlight: oklch(0.5 0.07 69);
        --border: oklch(0.4 0.07 69);
        --border-muted: oklch(0.3 0.07 69);
        --primary: oklch(0.681 0.1586 47.54);
        --secondary: oklch(0.76 0.1 249);
    }

    /* light-mode colors */
    :root.light {
        --bg-dark: oklch(.8 0.06 69);
        --bg-light: oklch(0.96 0.035 69);
        --text: oklch(0.1825 0.0214 36.85);
        --text-muted: oklch(0.4 0.07 69);
        --highlight: oklch(1 0.07 69);
        --border: oklch(0.6 0.07 69);
        --border-muted: oklch(0.7 0.07 69);
        --primary: oklch(0.5623 0.1147 52.88);
        --secondary: oklch(0.6 0.15 249);
    }

    html,
    body {
        margin: 0;
        width: 100%;
        min-height: 100vh;
        background-color: var(--bg-dark);
        color: var(--text);
        font-family: Manrope, sans-serif;
        text-wrap: balance;
        line-height: 1.6em;
    }

    main {
        max-width: 50%;
        margin: auto;
    }

    hr {
        border: 1px solid var(--primary);
        border-radius: 2px;
    }

    a {
        color: var(--text);
        text-decoration: none;
    }

    a:hover {
        color: var(--primary);
    }

    li::marker {
        color: var(--primary);
    }

    em {
        color: var(--primary);
    }
</style>
