---
import Header from "../components/Header.astro";
const { title="default title" } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <script is:inline>
        const theme = (() => {
            if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
                console.log('return theme from localStorage');
                return localStorage.getItem('theme');
            }
            if (window.matchMedia("(prefers-color-scheme: light)").matches) {
                console.log('prefers light: true -- returning "light"');
                return 'light';
            }
            console.log('prefers light: false -- returning "dark"');
            return 'dark';
        })();

        if (theme === 'light') {
            document.documentElement.classList.add('light');
        } else {
            document.documentElement.classList.remove('light');
        }
    </script>

</head>
<body>
<main>
    <Header></Header>
    <slot />
</main>
</body>
</html>

<style is:global>

    @font-face {
        font-family: 'Manrope';
        src: url("/manrope.woff2") format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;

    }

    /* dark-mode colors */
    :root {
        --bg-dark: oklch(0.1588 0.0126 71);
        --bg-light: oklch(0.15 0.035 69);
        --text: oklch(0.96 0.07 69);
        --text-muted: oklch(0.76 0.07 69);
        --highlight: oklch(0.5 0.07 69);
        --border: oklch(0.4 0.07 69);
        --border-muted: oklch(0.3 0.07 69);
        --primary: oklch(0.76 0.1 69);
        --secondary: oklch(0.76 0.1 249);
    }

    /* light-mode colors */
    :root.light {
        --bg-dark: oklch(0.92 0.035 69);
        --bg-light: oklch(0.96 0.035 69);
        --text: oklch(0.18 0.07 69);
        --text-muted: oklch(0.4 0.07 69);
        --highlight: oklch(1 0.07 69);
        --border: oklch(0.6 0.07 69);
        --border-muted: oklch(0.7 0.07 69);
        --primary: oklch(0.4 0.1 69);
        --secondary: oklch(0.4 0.1 249);
    }

    html,
    body {
        margin: 0;
        width: 100%;
        min-height: 100vh;
        background-color: var(--bg-dark);
        color: var(--text);
        font-family: Manrope, sans-serif;
    }

    a {
        color: var(--highlight);
    }

    main {
        width: 60%;
        margin: auto;
    }

    #header {
        padding-top: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header a {
        padding-right: 25px;
        font-size: large;
    }

</style>
