---
import BaseLayout from "./BaseLayout.astro"
import Header from "../components/Header.astro";
import { Icon } from 'astro-icon/components'
const title = Astro.props
---
<BaseLayout title={title ?? "Untitled Project"}>
    <Header />
    <a href="/projects">
        <Icon name="back-icon"/>
    </a>
    <div class="project-header">
    </div>
    <div class="content">
        <slot />
    </div>
</BaseLayout>

<style>
    [data-icon="back-icon"] {
        color: var(--text);
        font-size: 2em;
    }

    [data-icon="back-icon"]:hover {
        color: var(--primary);
    }
</style>